* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 24px;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger-button {
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: block;
  height: 40px;
}

.logo__image {
  height: 40px;
}

.hero {
  height: 100vh;
  min-height: 800px;
  background-image: url(../images/hero-bg.jpg);
  display: flex;
  align-items: center;
}

.hero__wrapper {
  width: 616px;
  color: #fff;
}

.hero__subtitle {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-bottom: 1.375rem;
}

.hero__title {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.625rem;
  margin-bottom: 1.5rem;
}

.hero__text {
  margin-bottom: 2.8125rem;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.125rem;
  text-decoration-line: underline;
  color: #FFD723;
}

.link__text {
  margin-left: 10px;
}

.link_gray {
  color: #D4D6D4;
}

.link_gray path {
  fill: #D4D6D4;
  stroke: #D4D6D4;
}

.about {
  position: relative;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 150px;
  border-bottom: 1px solid rgba(33, 56, 66, 0.1);
}

.about__info {
  flex: 0 0 475px;
  margin-bottom: 35px;
}

.about__subtitle {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-bottom: 1.8125rem;
  color: rgba(77, 83, 60, 0.9);
}

.about__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.875rem;
  color: #4D533C;
  margin-bottom: 2.1875rem;
}

.about__title span {
  padding: 0 10px 4px 5px;
  background-color: rgba(255, 215, 35, 0.1);
}

.about__text {
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 2.625rem;
}

.brands {
  position: absolute;
  top: -103px;
  width: calc(100% - (100% - 1110px) / 2);
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px 0 0 2px;
  padding: 57px 65px;
}

.brands__brand {
  margin-right: 66px;
}

.brands__brand:last-child {
  margin-right: 0;
}

.brands__image {
  height: 113px;
}

.message {
  width: 475px;
  padding: 244px 40px 60px;
  background-color: #fff;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}

.message__text {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #4D533C;
  margin-bottom: 3.125rem;
}

.message__author {
  display: flex;
  align-items: center;
}

.message__avatar {
  border-radius: 50%;
  box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
  margin-right: 30px;
}

.message__name {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2.0625rem;
  color: #4D533C;
}

.message__person-rank {
  line-height: 1.5rem;
}
