@import 'reset';
@import 'vars';

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 24px;
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger-button {
        background-color: #FFFFFF;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.logo {
    display: block;
    height: 40px;

    &__image {
        height: 40px;
    }

    &__small {
        height: 32px;

        img {
            height: 32px;
        }
    } 
}

.hero {
    height: 100vh;
    min-height: 800px;
    background-image: url(../images/hero-bg.jpg);
    display: flex;
    align-items: center;

    &__wrapper {
        width: 616px;
        color: #fff;
    }

    &__subtitle {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        margin-bottom: 1.375rem;
    }

    &__title {
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 4.625rem;
        margin-bottom: 1.5rem;
    }

    &__text {
        margin-bottom: 2.8125rem;
    }
}

.link {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.125rem;
    text-decoration-line: underline;
    color: $yellow;

    &__text {
        margin-left: 10px;
    }

    &_gray {
        color: $gray-300;

        path {
            fill: $gray-300;
            stroke: $gray-300;
        }

        &:hover {
            color: $yellow;

            path {
                fill: $yellow;
                stroke: $yellow;
            }
        }
    }
}

.about {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 150px;
        border-bottom: 1px solid $gray-200;
    }

    &__info {
        flex: 0 0 475px;
        margin-bottom: 35px;
    }

    &__subtitle {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        margin-bottom: 1.8125rem;
        color: $gray-800;
    }

    &__title {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.875rem;
        color: $gray-900;
        margin-bottom: 2.1875rem;
        
        span {
            padding: 0 10px 4px 5px;
            background-color: rgba(255, 215, 35, 0.1);
        }
    }

    &__text {
        color: $gray-500;
        margin-bottom: 2.625rem;
    }
}

.brands {
    position: absolute;
    top: -103px;
    width: calc(100% - (100% - 1110px) / 2);
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px 0 0 2px;
    padding: 57px 65px;

    &__brand {
        margin-right: 66px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__image {
        height: 113px;
    }
}

.message {
    width: 475px;
    padding: 244px 40px 60px;
    background-color: #fff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.146);

    &__text {
        font-style: italic;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $gray-900;
        margin-bottom: 3.125rem;
    }

    &__author {
        display: flex;
        align-items: center;
    }

    &__avatar {
        border-radius: 50%;
        box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
        margin-right: 30px;
    }

    &__name {
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 2.0625rem;
        color: $gray-900;
    }

    &__person-rank {
        line-height: 1.5rem;
    }

    &_small {
        width: 450px;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.146);

        .message__text {
            font-size: 1rem;
            line-height: 1.625rem;
            margin-bottom: 1.5rem;
        }

        .message__avatar {
            margin-right: 14px;
        }

        .message__name {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .message__rank {
            font-size: 0.875rem;
            line-height: 1.3125rem;
        }
    }
}

.projects {

    &__wrapper {
        padding: 150px 0 190px;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 110px;
    }

    &__title {
        width: 331px;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 3.375rem;
        color: $gray-900;
    }

    &__text {
        width: 520px;
        margin-left: 127px;
        color: $gray-500;
    }

    &__project {
        margin-bottom: 165px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.project {
    position: relative;
    padding: 100px 0;
    background-image: url(../images/project3-bg.jpg);
    background-repeat: no-repeat;
    background-size: 51%;
    background-position: left center;

    &:nth-child(2) {
        background-image: url(../images/project1-bg.jpg);
    }

    &:nth-child(3) {
        background-image: url(../images/project2-bg.jpg);
        background-position: right center;

        .project__wrapper {
            margin-right: auto;
            margin-left: 0;
        }

        .project__message {
            right: 322px;
            left: auto;
            bottom: 0;
        }
    }

    &__wrapper {
        width: 420px;
        margin-left: auto;
    }

    &__title {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
        color: $gray-900;
    }

    &__text {
        color: $gray-500;
        margin-bottom: 5.625rem;
    }

    &__paragraph {
        margin-bottom: 1.625rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__message {
        position: absolute;
        bottom: -25px;
        left: 322px;
    }
}

.evaluation {
    position: relative;

    &__wrapper {
        padding: 150px 0 320px;
        border-top: 1px solid $gray-200;
    }

    &__title {
        width: 607px;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.875rem;
        color: $gray-900;
        margin-bottom: 60px;
    }

    &__steps {
        display: flex;
        justify-content: space-between;
    }
}

.evaluation-step {
    width: 255px;
    padding: 27px 30px 36px;
    display: flex;
    flex-direction: column;

    &__title {
        min-height: 4.25rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.125rem;
        text-transform: uppercase;
        color: $gray-900;
        margin-bottom: 1.25rem;
    }

    &__text {
        font-size: 0.875rem;
        line-height: 1.625rem;
        color: $gray-500;
        margin-bottom: 1.875rem;
        flex-grow: 1;
    }
}

.offer {
    position: absolute;
    left: 0;
    bottom: -190px;
    width: calc(100% - (100% - 1110px) / 2);
    padding: 70px 164px;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);

    &__text {
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 4.625rem;
        color: $gray-900;
        margin-bottom: 3.125rem;
    }
}

.footer {
    padding-top: 310px;
    background-image: url(../images/footer-bg.jpg);
    background-color: #4F553D;
    color: $green-100;

    &__top {
        margin-bottom: 52px;
        display: flex;
        align-items: flex-start;
        line-height: 2.5rem;
    }

    &__address-item {
        margin-right: 128px;

        a {
            font-weight: 700;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #5D6544;
        padding-top: 60px;
        margin-bottom: 60px;
    }

    &__links {
        position: relative;
        display: flex;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 80%;
            background-color: #5D6544;
        }
    }

    &__links-list {
        margin-right: 85px;
    }

    &__contacts-title {
        color: #fff;
        line-height: 2.375rem;
        font-weight: 600;
        margin-bottom: 1.3125rem;
        text-transform: uppercase;
    }

    &__contacts-text {
        margin-bottom: 1.375rem;
    }

    &__email {
        display: block;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.375rem;
        color: #fff;
        margin-bottom: 1.5rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
    }

    &__social {
        width: 33px;
        height: 33px;
        background-color: #444a34;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 11px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $yellow;

            path {
                fill: #fff;
            }
        }
    }

    &__copy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0 30px;
        border-top: 1px solid #5D6544;
    }
}

.links-list {

    &__title {
        color: #fff;
        line-height: 2.375rem;
        font-weight: 600;
        margin-bottom: 1.3125rem;
        text-transform: uppercase;
    }

    &__link {
        line-height: 2.5rem;
        color: $green-100;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1200px) {

    .container {
        width: 900px;
    }

    .brands {
        width: calc(100% - (100% - 900px) / 2);

        &__brand {
            margin-right: 50px;
        }

        &__image {
            height: 80px;
        }
    }

    .about {

        &__title {
            font-size: 2rem;
        }
    }

    .message {
        width: 350px;
        padding: 200px 32px 48px;
        
        &__text {
            font-size: 1.25rem;
            line-height: 2rem;
            margin-bottom: 2.5rem;
        }

        &__avatar {
            width: 70px;
            height: 70px;
        }

        &__name {
            font-size: 1rem;
            line-height: 1.75rem;
        }

        &_small {
            padding: 30px;

            .message__avatar {
                width: 46px;
                height: 46px;
            }
        }
    }

    .projects {

        &__title {
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    .project {
        padding: 0;
        background-size: 45%;

        &__title {
            font-size: 2rem;
            line-height: 2.875rem;
        }

        &:nth-child(3) {

            .project__message {
                bottom: -20%;
                right: 17%;
            }
        }

        &__message {
            bottom: -20%;
            left: 17%;
        }
    }

    .evaluation {

        &__wrapper {
            padding: 150px 0px 250px;
        }

        &__title {
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }

    .evaluation-step {
        padding: 25px;
        width: 24%;

        &__title {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }

    .offer {
        padding: 60px 150px;
        width: calc(100% - (100% - 900px) / 2);

        &__text {
            font-size: 3rem;
            line-height: 4rem;
            margin-bottom: 2.5rem;
        }
    }

    .footer {

        &__links-list {
            margin-right: 65px;
        }
    }
}

@media (max-width: 991px) {

    .container {
        width: 700px;
    }

    .hero {

        &__title {
            font-size: 3rem;
            line-height: 4rem;
        }
    }

    .about {

        &__wrapper {
            padding-bottom: 60px;
            padding-top: 120px;
        }
    }

    .message {
        display: none;
    }

    .brands {
        width: calc(100% - (100% - 700px) / 2);
        padding: 50px;
    }

    .projects {

        &__wrapper {
            padding: 60px 0px 120px;
        }

        &__title {
            flex-shrink: 0;
            width: 300px;
            font-size: 1.5rem;
            line-height: 2.25rem;
        }

        &__text {
            width: auto;
            margin-left: 50px;
        }
    }

    .project {
        background-position: left top;
        margin-bottom: 120px;

        &__wrapper {
            width: 50%;
        }

        &:nth-child(3) {
            background-position: right top;
        }
    }

    .evaluation {

        &__wrapper {
            padding: 120px 0px 200px;
        }

        &__steps {
            flex-wrap: wrap;
            row-gap: 30px;
        }
    }

    .evaluation-step {
        width: 47%;

        &__title {
            min-height: 2rem;
        }
    }

    .offer {
        width: calc(100% - (100% - 700px) / 2);

        &__text {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    .footer {

        &__middle {
            flex-direction: column;
        }

        &__links {
            padding-bottom: 60px;
            margin-bottom: 52px;
            border-bottom: 1px solid #5D6544;

            &:after {
                display: none;
            }
        }
    }
}